#aSide1 model-viewer{
    height:1000px;
    width:2000px;
    transform-origin:center;
    transform:perspective(100px), scaleX(100%), scaleY(100%);
    position : relative;
    top : 5%;
    left : 5%;
    border : none;
    }
}
#aside2 model-viewer{
    height: 500px;
    width: 500px;
    transform-origin:center;
    perspective: 300px;
    transform:perspective(200px),scaleX(100px),scaleY(100px);
}
