#aSide1 model-viewer{
    height:1000px;
    width:2000px;
    transform-origin:center;
    transform:perspective(500px) scale3d(5,5,5); 
    position : relative;
    top : 5%;
    left : 5%;
    border : none;
    }
}
#aside2 model-viewer{
    height: 100px;
    width: 100px;
    transform:perspective(500px) scale3d(500px,300px,300px); 
}